{% extends 'base.html' %}
{% load static %}


<!-- start inlclude  'message' -->
{% block messages %}
   {% include 'includes/messages.html' %}
{% endblock messages %}
<!-- END inlclude  'message' -->



{% block content %}


    <!-- choices list  -->
    <section class='polls bg-primary-subtle row mb-1 text-center '>
 
        <div class="container-fluid">
           <h1 >
              <strong class='txt-color'>CrowdVoice</strong>  <span class="text-secondary fs-5">poll choices</span>
           </h1>
           <br> 
        </div>
      
        <section class="text-center">
            {% for choice in choices %}

                <div class='polls'>
                    <span class="badge bg-light text-dark">
                        <i class="fa-solid fa-layer-group"></i>
                    </span>
                    <span>
                        <a class='text-decoration-none' href="{% url 'polls:choice-detail' choice_id=choice.id %}">
                            <h2 class="text-secondary"> {{ choice.choice_text |safe }}</h2>
                        </a>
                    </span>
                </div>
         
            {% empty %}
                <div class='polls'>      
                    <p class="fw-medium text">No choice.</p>
                </div> 
            {% endfor %}
        </section>
      
    </section> 
    
  
{% endblock content %} 