{% extends 'base.html' %}



<!-- start inlclude  'message' -->
{% block messages %}
   {% include 'includes/messages.html' %}
{% endblock messages %}
<!-- END inlclude  'message' -->




{% block content %}

{{ request.user.role }}
    <section class="row mb-1">
      {% if request.user.is_superuser or request.user.role == 'OWNER'   %}
              <div class="col-md-6">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <a  href="{% url 'polls:poll-create' %}" type="button" class="btn btn-sm btn-info bg-info">+Poll</a>
                </div>
              </div>
      {% endif %}
              
              <!-- search by name -->
              <div class="col-md-6">
                    <form class="form-inline input-group flex-nowrap" action={% url 'polls:home' %} method="GET">
                        <input type="text" name="sc" value="" class='form-control' placeholder="Search By Word...">
                        <button type="submit" class="btn btn-sm btn-light bg-info">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>       
              </div>      
    </section>

   


    <!-- filter and sort section-->
    <section class="row mb-1">
      <div class="input-group mb-3">
        
        <label class="input-group-text" for="inputGroupSelect01">Filter</label>
        <select class="form-select" id="inputGroupSelect01">
          <option selected>By Category...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>

        &nbsp &nbsp 

        <label class="input-group-text" for="inputGroupSelect01">Sort</label>
        <select class="form-select" id="inputGroupSelect01">
          <option selected>By...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>

      </div>
    </section>



    <section class='polls bg-primary-subtle -black'>   


      <h1 class='txt-color'><strong>Polls</strong></h1>

    
          <br> 
            
              {% for poll in latest_poll_list %}
                  {% if poll.choice_set.count != 0 %}
                      <section class='polls'>
                        <span class="badge bg-light text-dark"> <i class="fa-solid fa-layer-group"></i> &nbsp{{poll.category|title}}</span>
                          <div>
                              <a class='text-decoration-none' href="{% url 'polls:poll-detail' poll_slug=poll.poll_slug  year=poll.published_at.year  month=poll.published_at.month  day=poll.published_at.day %}">
                                <p class="fw-bold fw-medium fs-3 text p-2"> {{ poll.poll_question }}</p>
                              </a>
                          </div> 
                          <div class="d-flex flex-row-reverse">
                              {% if request.user.is_authenticated %}
                                <a href="{% url 'polls:poll-detail' poll_slug=poll.poll_slug  year=poll.published_at.year  month=poll.published_at.month  day=poll.published_at.day %}"  type="button" class="btn btn-sm btn-danger bg-danger p-1">+Vote</a>&nbsp
                                <a href="{% url 'polls:poll-update' poll_slug=poll.poll_slug  year=poll.published_at.year  month=poll.published_at.month  day=poll.published_at.day %}"  type="button" class="btn btn-sm btn-danger bg-danger p-1">Edit</a>&nbsp
                                <a href="{% url 'polls:poll-delete-confirm' poll_slug=poll.poll_slug  year=poll.published_at.year  month=poll.published_at.month  day=poll.published_at.day %}" type="button" class="btn btn-sm btn-info bg-info p-1">Delete</a>&nbsp
                                <a href="{% url 'polls:poll-votes-result' poll_slug=poll.poll_slug  year=poll.published_at.year  month=poll.published_at.month  day=poll.published_at.day %}" type="button" class="btn btn-sm btn-info bg-info p-1">Result</a>&nbsp
                              {% else %}
                                <a href="{% url 'polls:poll-votes-result' poll_slug=poll.poll_slug  year=poll.published_at.year  month=poll.published_at.month  day=poll.published_at.day %}" type="button" class="btn btn-sm btn-info bg-info p-1">Result</a>&nbsp
                              {% endif %}
                          </div>
                          <span class="badge bg-light text-dark"><i class="fa-regular fa-clock"></i> &nbsp{{poll.created_at}}</span>
                          
                    
                      </section>
                  {% else %}  
                        {{  poll.delete  }}
                  {% endif %}  
              {% empty %}
                  <section class='polls'>      
                      <p class="fw-medium text">No polls are available.</p>
                  </section> 
              {% endfor %}

      
    </section>   
{% endblock content %} 