{% extends 'base.html' %}
{% load crispy_forms_tags %}


<!-- start inlclude  'message' -->
{% block messages %}
   {% include 'includes/messages.html' %}
{% endblock messages %}
<!-- END inlclude  'message' -->




{% block content %}

    <section  class="polls">
        <h1 class='poll-question'>{{ poll.poll_question }}</h1>
   
        <div>
            {% for choice in poll.choice_set.all %}
                <li> {{ choice.choice_text|title }}</li>
            {% endfor %}
        </div>

    </section>

    {% if poll.choice_set.all.count < 5 %}
    <section class="polls"> 
        <p>Fill the form below to Add a choice : </p>
            <br>
            <br>
    
        <form method="POST">
            {% csrf_token %}

            {{  form|crispy }}
            <div class="d-flex justify-content-between">
                <input class='my-btn' type="submit" value="Add a choice">                
            </div>    
        </form>

    </section>        
    {% else %}       
    <div>
        <a href="#" class='my-btn' type="button" >Edit</a>
        <a href="#" class='my-btn' type="button" >Finish and go to the next step</a>
    </div>
    {% endif %}



{% endblock content %}