{% extends 'base.html' %}



<!-- start inlclude  'message' -->
{% block messages %}
   {% include 'includes/messages.html' %}
{% endblock messages %}
<!-- END inlclude  'message' -->




{% block content %}

    <section  class="polls">
       <div class="d-flex  justify-content-end">
            <a class="btn btn-sm btn-success"href="{% url 'polls:poll-share-by-email' poll_slug=poll.poll_slug  year=poll.published_at.year  month=poll.published_at.month  day=poll.published_at.day %}">
                Share&nbsp&nbsp<i class="fa-regular fa-share-from-square"></i>
            </a>
        </div>         
            <h1 class='fs-3'>{{ poll.poll_descript|safe }}</h1>    
      
    </section>

    <section class="polls bg-primary-subtle fs-4">
        <form action="{% url 'polls:poll-vote-create' poll_slug=poll.poll_slug  year=poll.published_at.year  month=poll.published_at.month  day=poll.published_at.day %}" method="POST">
            {% csrf_token %}
           
            {% for choice in poll.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" class="form-check-input">
                <label for="choice{{ forloop.counter }}" class="form-check-label">
                    {{ choice.choice_text }}
                </label> 
                <br><br>
            {% endfor %}
            <div class="d-flex flex-row-reverse">
                <input class='my-btn' type="submit" value="Vote">
            </div>    
        </form>
    </section>

{% endblock content %}