{% extends 'base.html' %}
{% load crispy_forms_tags %}



<!-- start inlclude  'message' -->
{% block messages %}
   {% include 'includes/messages.html' %}
{% endblock messages %}
<!-- END inlclude  'message' -->




{% comment %} {% block content %}
        <h1>Share "{{ post.title }}" by e-mail</h1>
        <form method="POST">
            {% csrf_token %}
                {{form.media }}
                {{ form|crispy }}
            <input type="submit" value="Send e-mail">
        </form>
{% endblock %} {% endcomment %}



{% block content %}
<section class='bg-light container justify-content-center'>
    <h1 class="fs-6 text-secondary">Poll Share page</h1>   
    <br>
    
    <div class='card border-0 bg-primary-subtle p-2'>

    <h2 class="fs-5 text-secondary">Share the post:
        <br>
        <text class="text-center"><strong>{{ poll.poll_descript|safe }}</strong>
    </h2>
   

        <div class="col-md-10 col-sm-11 border rounded border-secondary p-3 m-5 back-ggg">
            <form method="POST" enctype='multipart/form-data' novalidate>
                {% csrf_token %}

                {{form.media }}
                {{ form|crispy }}

                <div class='d-flex justify-content-between'>
                    <button type="submit" class="btn btn-success">Share</button>
                    <a type="link" href="{{ poll.get_absolute_url }}" class="btn btn-secondary">Cancel</a>
                </div>
             
            </form>
        </div>
    </div>
</section>
{% endblock content %}