{% extends 'base.html' %}
{% load crispy_forms_tags %} 



<!-- start inlclude  'message' -->
{% block messages %}
   {% include 'includes/messages.html' %}
{% endblock messages %}
<!-- END inlclude  'message' -->




{% block content %} 

<section class='container polls'>
<b>
  <h1 class='fs-6 text-center text-secondary mb-4'>
    Pawssword Resete Complete - CROWDVOICE polls
  </h1> 

<div class="card">
  <div class="card-body text-center">
    <p class='text-center'>Your password has been set.  You may go ahead and log in now.</p>
    <a href="{%  url 'users:user-login' %}" class='btn btn-light'>login🌷</a>
  </div>
</div>
</section>  
{% endblock content %}
