{% extends 'base.html' %}
{% load crispy_forms_tags %} 





<!-- start inlclude  'message' -->
{% block messages %}
   {% include 'includes/messages.html' %}
{% endblock messages %}
<!-- END inlclude  'message' -->




{% block content %} 

<section class='modify-content-center container'>

  <h1 class='fs-6 text-center text-secondary mb-4'>
    Pawssword Change done - CROWDVOICE polls
  </h1> 


    <div class="card m-5">
      <div class="card-body">
        <p class='text-center'>Pawssword Change done Successfully ..</p>
        <p class='text-center'>🌷💐🌾🌼🌻🌸🌺🪻🥀</p>
      </div>
    </div>

    
</section>  
{% endblock content %}