{% extends 'base.html' %}
{% load crispy_forms_tags %}


<!-- start inlclude  'message' -->
{% block messages %}
   {% include 'includes/messages.html' %}
{% endblock messages %}
<!-- END inlclude  'message' -->




{% block content %}
<section class='bg-light container'>
 
    
    <header class="txt-color text-center">
        <h1 class='text-swcondary'>Contact Us
            <br>
            <span class="fs-6 text-secondary"> Contact CrowdVoice Polls team</span>
        </h1>
    </header>
    
 
    
            <div class='row justify-content-center'>
                <div class="col-md-10 col-sm-11 border rounded border-secondary p-3 m-5 back-ggg">
                    <form method="POST" action="{% url 'pages:contact-us' %}" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class='d-flex justify-content-end'>
                        <button class="btn btn-sm btn-primary" type="submit">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
</section>


{% endblock content %}