{% extends 'base.html' %}
{% load static %}


<!-- start inlclude  'message' -->
{% block messages %}
   {% include 'includes/messages.html' %}
{% endblock messages %}
<!-- END inlclude  'message' -->




{% block content %}
<section class='container polls'>
    <br><br><br>
    <header class="txt-color">
        <h1 class='text-asecondary'>CROWDVOICE Polls</h1>
        <h2 class='text-secondary'>License</h2>
    </header>
    
    <br><br>
  
<p>
"CROWDVOICE polls" License Agreement was entered into on 15/03/2024, by and between CROWDVOICE polls hereinafter referred to as the "Licensor" and "the user full name", hereinafter referred to as the "Licensee."
</p>

<br>

<p>
1. License Grant
Licensor hereby grants Licensee a non-exclusive, non-transferable license to access, view, and use the content published on the blog titled "CROWDVOICE polls" for personal, non-commercial purposes.
</p>

<br>

<p> 
2. Restrictions
Licensee agrees not to reproduce, distribute, modify, create derivative works from, publicly display, or exploit the content of the "Codes City Blog" in any way other than expressly permitted by this Agreement.
</p>

<br>

<p>
3. Intellectual Property
All intellectual property rights in and to the "CROWDVOICE polls", including but not limited to copyrights and trademarks, are and shall remain the exclusive property of the Licensor.
</p>

<br>

<p>
4. Disclaimer Of Warranty
"CROWDVOICE polls" is provided "as is" without any warranty of any kind, either express or implied, including but not limited to the implied warranties of merchantability and fitness for a particular purpose.
</p>

<br>

<p>
5. End
This permit is compelling until ended by one or the other party. Licensor, "CROWDVOICE polls" may end this permit out of the blue in the event that Licensee penetrates any of the terms or states of this Arrangement.
</p>

<br>

<p>
6. Miscellaneous
This Agreement constitutes the entire understanding between the parties concerning the Blog and supersedes all prior and contemporaneous agreements and understandings, whether oral or written.

In witness whereof, the parties here are to have executed the "CROWDVOICE polls" License Agreement as of the date first above written.
</p>

<br>

<p>
Licensor: "CROWDVOICE polls"    
Contact Licensor

Licensee: "The user's full name"
</p>

<br>

<p>
<br><br><br>

</section>  
{% endblock content %}